$small-size: 768px;

.la-calendar-wrapper {

	margin: 50px;

	@media screen and (max-width: $small-size) {
		margin: 26px;
	}

	.fc-wrapper {

		@media screen and (max-width: $small-size) {
			order: 2;
		}
	}

	.categories {

		.mobile-view {

			display: none;

			@media screen and (max-width: $small-size) {
				display: block;
			}

		}

		.desktop-view {
			display: block;

			@media screen and (max-width: $small-size) {
				display: none;
			}
		}

		padding-left: 25px;

		@media screen and (max-width: $small-size) {
			order: 1;
			padding-left: 0;
		}
	}

	label[for="event_category"] {
		font-weight: bold;
		font-size: 26px;
	}

	ul#event_category {
		margin: 20px 0px;

		li {

			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}

			&.active {
				color: #24b23b;
			}

		}
	}

	select[name="event_category"] {

		display: block;
		padding: 10px;
		margin: 20px 0px;
		width: 50%;

		@media screen and (max-width: $small-size) {
			width: 100%;
		}

	}

}