$small-size: 768px;

.la-calendar-wrapper {

	margin: 50px;

	.fc-content {
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
		padding: 2px;
	}

	@media screen and (max-width: $small-size) {
		margin: 26px;
		display: none;
	}

	.fc-wrapper {

		@media screen and (max-width: $small-size) {
			order: 2;
		}
	}

	.categories {

		.mobile-view {

			display: none;

			@media screen and (max-width: $small-size) {
				display: block;
			}

		}

		.desktop-view {
			display: block;

			@media screen and (max-width: $small-size) {
				display: none;
			}
		}

		padding-left: 25px;

		@media screen and (max-width: $small-size) {
			order: 1;
			padding-left: 0;
		}
	}

	label[for="event_category"] {
		font-weight: bold;
		font-size: 26px;
	}

	ul#event_category {
		margin: 20px 0px;
		padding-left: 0;

		li {

			padding-left: 20px;
			padding-top: 5px;
			padding-bottom: 5px;
			margin-bottom: 20px;

			&::before {
				display: none;
			}

			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}

			&.active {
				color: #24b23b;
			}

		}
	}

}

select[name="event_category"] {

	display: block;
	padding: 10px;
	margin: 20px 0px;
	width: 50%;

	@media screen and (max-width: $small-size) {
		width: 100%;
	}

}

.la-events-listing {

	margin: 26px;

	.listing {

		min-height: 120px;
		border-top: 1px solid #ddd;

		.item {
			border-bottom: 1px solid #ddd;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;

			.heading, .data {
				padding: 10px;
			}

			.heading {
				background: #f7f7f7;
				border-bottom: 1px solid #ddd;

				.date {
					font-weight: bold;
				}

				.extra {
					text-align: right;
				}
			}

			&:last-child {
				border-bottom: 1px solid #ddd;
			}

			.category_marker {
				width: 8px;
				height: 8px;
				border-radius: 14px;
			}
		}
	}

	.load-more-wrapper {

		.inner {
			text-align: center;

			.load-more {
				margin-top: 15px;
			}
		}
	}

}

.tippy-tooltip {
	padding: 12px;

	h1 {
		font-size: 25px;
		margin-bottom: 10px;
	}

	h2 {
		font-size: 15px;
	}
}